html body {
  background: url("images/background5.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  width: 75%;
  text-align: justify;
  line-height: 1.5;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}

header {
  color: white;
  background-size: 100%;
  max-width: 100%;
  height: 50%;
  margin-bottom: 20px;
  font-weight: lighter;
}

h1 {
  font-size: 3em;
  color: white;
}

h2, h3 {
  color: white;
}

header a {
  font-size: 2em;
}


a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

a:hover {
  color: #FFA500;
}

p{
  color: #e4e4e4;
  text-align: justify;
}

footer{
  color: white;
}

img {
  height: 50%;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mug{
  width: 125px;
	height: 125px;
	border-radius: 150px;
	background: url("images/face.png");
  background-size: cover;
  display: inline;
  float: right;
}
.projects {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.projects h2 {
  text-align: center;
  padding: 0px;
}

img.animated-gif{
  width: 600px;
  height: 400px;
}

#button {
  font-weight: bold;
  color: #FFA500;
}
