html body {
  background: url("images/background5.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  width: 75%;
  text-align: justify;
  line-height: 1.5;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}

header {
  color: white;
  background-size: 100%;
  max-width: 100%;
  height: 50%;
  margin-bottom: 20px;
  font-weight: lighter;
}

h1 {
  font-size: 3em;
  color: white;
}

h2, h3 {
  color: white;
}

header a {
  font-size: 2em;
}


a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

a:hover {
  color: #FFA500;
}

p{
  color: #e4e4e4;
  text-align: justify;
}

footer{
  color: white;
}

/*img {
  height: 50%;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/
.mug{
  width: 125px;
	height: 125px;
	border-radius: 150px;
	background: url("images/face.png");
  background-size: cover;
  display: inline;
  float: right;
}
.projects {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.projects h2 {
  text-align: center;
  padding: 0px;
}

img.animated-gif{
  width: 600px;
  height: 400px;
}

img {
  width: 600px;
  height: 400px;
}

/*#naspaa {
  width: 650px;
}*/

#button {
  font-weight: bold;
  color: #FFA500;
}

.github-link {
  position: fixed;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  bottom: 70%;
  right: 4%;
}

.github-link img {
  display: inline-block;
  position: relative;
  top: -15px;
  left: -20px;
  height: 45px;
  width: 45px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);

}

.github-link img:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);

}
